<div class="SideMenuContainer">
    <ul style="list-style-type:none; color:#d3d3d3">
        <li>
            <button id="btnIndex">
                <span class="glyphicon glyphicon-blackboard" style="padding-left:5px; padding-right:5px; font-size:60px"> </span>
                <b style="color:#808080">Accounts</b>
            </button>

        </li>

        <li>
            <button id="btnMessage">
                <span class="glyphicon glyphicon-envelope" style="padding-left:5px; padding-right:5px; font-size:60px"> </span>
                <b style="color:#808080">Message</b>
            </button>
        </li>

        <li>
            <button id="btnApplicant">
                <span class="glyphicon glyphicon-list-alt" style="padding-left:5px; padding-right:5px; font-size:60px"> </span>
                <b style="color:#808080">Applicant</b>
            </button>
        </li>
    </ul>

</div>
