<div class="SideMenuContainer">
    <ul style="list-style-type:none; color:#d3d3d3; font-size:30px">
        <li>
            <button id="btnCompose">
                <b style="color:#808080">Compose</b>
            </button>

        </li>

        <li>
            <button id="btnInbox">
                <b style="color:#808080">Inbox</b>
            </button>
        </li>

        <li>
            <button id="btnSentbox">
                <b style="color:#808080">Sent</b>
            </button>
        </li>
    </ul>

</div>
